*{
    margin: 0; 
    padding: 0;
    margin: 0;
    padding: 0;
    border: 0;
    image-rendering: optimizeQuality;
    image-orientation: 0grad;
    font: garamond bold;
    vertical-align: baseline
}
.logo{
    image-resolution: initial;
    background: url("/aula10/img2/—Pngtree—beautiful\ hologram\ -color\ \ _3643167.png");
    background-attachment: local;
    background-size: cover;
    background-position: center;
}
Body{
    padding-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
    align-items: center;
    background-color:#E6E8FA;
    color:black;
    background-size: cover;
    font: 17pt garamond bold;
}
    input{
        font: 17pt garamond bold;
        color:orangered;
        width: 100px;
        border:green solid 5px;
        border-radius: 20px;
        cursor:pointer;
    }
    div#res{
        margin-top: 20px;
        color:white;
    }
    .ass:hover{
        color:navy;
        cursor:pointer;
    }